.header {
  position: absolute;
  width: 100%;
  padding-top: 33px;
}
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 39px;
  border-radius: 100px;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-size: 42.414px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -4.666px;
  text-transform: uppercase;
}
.menu__items {
  display: flex;
  column-gap: 50px;
}
.menu__item {
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: lowercase;
}
