:root {
  --accent-color: #1bff07;
  --text-color: #fff;
  --background-color: #000;
  --background-article: #191c19;
  --background-input: #3b3d3b;
  --main-font: "IBM Plex Mono", monospace;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--background-color);
}
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
  /* background-color: rgba(0, 128, 0, 0.363); */
}
.section {
  margin-bottom: 150px;
}
.title {
  margin-left: -5px;
}
.image {
  width: 100%;
  object-fit: cover;
}
