.services__title {
  width: 403px;
  margin-bottom: 80px;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -1.05px;
}
.article-service:not(:last-child) {
  margin-bottom: 40px;
}
.article-service__image img {
  border-radius: 30px;
}
.article-service__body {
  height: 283px;
  display: flex;
  column-gap: 70px;
  padding: 40px;
  border-radius: 30px;
  background-color: var(--background-article);
}
.article-service__title {
  width: 470px;
  color: var(--accent-color);
  font-size: 55px;
  line-height: 110%;
  letter-spacing: -1.65px;
}
.article-service__text {
  width: 525px;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}
